@import "tailwindcss";


:root {
  --background: #4e2219;
  --foreground: #FCAB10;
  --charcoal: #121420;
  --primary: #465f40;
  --accent: #d9f9a5;
  --secondary: #D36135;
}

@font-face {
  font-family: 'FunnelSans';
  src: url('/fonts/FunnelSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FunnelSans';
  src: url('/fonts/FunnelSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'FunnelSans';
  src: url('/fonts/FunnelSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FunnelSans';
  src: url('/fonts/FunnelSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FunnelSans';
  src: url('/fonts/FunnelSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FunnelSans';
  src: url('/fonts/FunnelSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FunnelSans';
  src: url('/fonts/FunnelSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-charcoal: var(--charcoal);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'FunnelSans';
}

.bg-field {
  background-image: url('/pictures/field.jpg');
  background-size: cover;
  background-position: center;
}

.bg-faq {
  background-image: url('/pictures/faq.jpg');
  background-size: cover;
  background-position: center;
}

.bg-donate {
  background-image: url('/pictures/donate.jpg');
  background-size: cover;
  background-position: center;
}

.bg-forest {
  background-image: url('/pictures/forest.jpg');
  background-size: cover;
  background-position: center;
}



